<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65857189724-sk5460b95sp6jtqf5ej75vvut4utjvd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65857189724-sk5460b95sp6jtqf5ej75vvut4utjvd6</string>
	<key>API_KEY</key>
	<string>AIzaSyCdMIaNRXEU9gA2Kh5BVbGhmIzAv80Qeq8</string>
	<key>GCM_SENDER_ID</key>
	<string>65857189724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techMedia</string>
	<key>PROJECT_ID</key>
	<string>auth-08</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65857189724:ios:64d5892408965b75b67399</string>
</dict>
</plist>